<section class="bg-white dark:bg-gray-900 px-5 py-8 antialiased md:pt-36 md:pb-2  min-h-screen">
    <div class="max-w-2xl px-4 py-36 mx-auto lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-gray-100">Update profile</h2>
        <form  method="put" (ngSubmit)="update()" [formGroup]="form">
            <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
                <div class="sm:col-span-2">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-100">Email</label>
                    <input type="text" name="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-500 dark:text-gray-700 dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{profile.email}}" formControlName="email">
                </div>
                <div class="w-full">
                    <label for="firstname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-100">First name</label>
                    <input type="text" name="firstname" id="firstname" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-500 dark:text-gray-700 dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{profile.firstname}}"  formControlName="firstname">
                </div>
                <div class="w-full">
                    <label for="lastname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-100">Last name</label>
                    <input type="text" name="lastname" id="lastname" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-500 dark:text-gray-700 dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{profile.lastname}}"  formControlName="lastname">
                </div>
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-100">Password</label>
                    <input type="password" name="password" id="password" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-500 dark:text-gray-700 dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="•••••••••" required formControlName="password">
                    <small class="text-green-500">Password required for profile update</small>
                </div>
                
               
            </div>
            <div class="flex items-center space-x-4">
                <button type="submit" class="text-white bg-indigo-500 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-200" [disabled]="!form.valid">
                    Update
                </button>
                <button type="button" class="text-red-600 inline-flex items-center hover:text-gray border border-red-600  focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-gray  dark:focus:ring-red-900" routerLink="/profile">
                    <svg class="w-5 h-5 mr-1 -ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
                    Cancel
                </button>
            </div>
        </form>
    </div>
  </section>