<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div *ngIf="sessionId" class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:p-6">
      <h1 class="text-xl font-semibold text-gray-900 dark:text-grey sm:text-2xl">Transaction Successful</h1>
      <p class="mt-4 text-base font-normal text-gray-500 dark:text-gray-400">Your transaction has been completed successfully. Your session ID is: 
        
        <span class="font-medium text-gray-900 dark:text-grey">{{ sessionId }}</span></p>
      <button class="mt-6 inline-flex items-center justify-center rounded-lg bg-indigo-600 px-5 py-2.5 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-4 focus:ring-indigo-300 dark:bg-indigo-500 dark:hover:bg-indigo-600 dark:focus:ring-indigo-700" (click)="navigateToOrderPurchase()">View Order</button>
    </div>

    <div *ngIf="!sessionId" class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:p-6">
      <h1 class="text-xl font-semibold text-gray-900 dark:text-grey sm:text-2xl">Transaction Failed</h1>
      <p class="mt-4 text-base font-normal text-gray-500 dark:text-gray-400">There was an issue with your transaction. Please try again.</p>
    </div>
  </div>
</section>
