<section class="bg-white dark:bg-gray-900 py-36">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
       
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Create an account
                </h1>
                <form class="space-y-4 md:space-y-6" method="post" [formGroup]="regForm" (submit)="processRegistration()">
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Username</label>
                        <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" formControlName="username">
                        <small *ngIf="regForm.get('username')?.errors?.['required']" style="color: limegreen;">Username is required.</small>
                        <small *ngIf="regForm.get('username')?.errors?.['minlength']" style="color: limegreen;">minimum 3 characters</small>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                        <input type="password" name="password" id="password" placeholder="choose a strong password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" formControlName="password">
                        <small *ngIf="regForm.get('password')?.errors?.['required']" style="color: limegreen;">Password is required</small>
                        <small *ngIf="regForm.get('password')?.errors?.['minlength']" style="color: limegreen;">minimum 8 characters</small>
                        
                    </div>
                    <div>
                        <label for="firstname" class="block mb-2 text-sm font-medium text-gray-900">First name</label>
                        <input type="text" name="firstname" id="firstname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " formControlName="firstname">
                        <small  *ngIf="regForm.get('firstname')?.errors?.['required']" style="color: limegreen;">First name is required</small>
                    </div>
                    <div>
                        <label for="lastname" class="block mb-2 text-sm font-medium text-gray-900">Last name</label>
                        <input type="text" name="lastname" id="lastname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " formControlName="lastname">
                        <small  *ngIf="regForm.get('lastname')?.errors?.['required']" style="color: limegreen;">Last name is required</small>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                        <input type="email" name="email" id="email"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " formControlName="email">
                        <small  *ngIf="regForm.get('email')?.errors?.['required']" style="color: limegreen;">Email is required</small>
                        <small  *ngIf="regForm.get('email')?.errors?.['email']" style="color: limegreen;">must be valid email</small>
                    </div>
                    
                    <button type="submit" class="w-full text-white bg-indigo-500 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Create an account</button>

                    <small *ngIf="failRegister" style="color: limegreen;">{{ failRegister }}</small>


                    <p class="text-sm font-light text-gray-500">
                        Already have an account? <span class="font-medium text-primary-600 hover:underline" (click)="login()">Login here</span>
                    </p>

                    
                </form>
            </div>
        </div>
    </div>
  </section>